/* start font */
@font-face {
    font-family: "Inter";
    src: url("../font/Inter/static/Inter-Regular.ttf");
}
/* end font */

/* start Navbar */
.navbar {
    --bs-navbar-padding-y: 1rem;
}

.bg-light {
    background-color: white !important;
}

img.d-inline-block.align-text-top {
    width: 35px;
    height: auto;
}

span {
    font-family: "Inter";
    color: #121212;
    font-style: normal;
    font-weight: 600;
    vertical-align: middle;
}

a.nav-link.active {
    color: #1c7c54;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

a.nav-link {
    color: #121212;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

.nav {
    --bs-nav-link-hover-color: var(--primary, #1c7c54);
}

a.btn.btn-primary.sign-in {
    padding: 6px;
    width: 80px;
    border-radius: 10px;
    background: var(--primary, #1c7c54);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    border-color: var(--primary, #1c7c54);
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

a.btn.btn-outline-success.sign-up {
    margin-left: 16px;
    padding: 6px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid var(--primary, #1c7c54);
    background: var(--gray, #f2f4f7);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    color: var(--primary, #1c7c54);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

.profile button.btn.btn-secondary {
    width: 44px;
    height: 44px;
    background: var(--gray-3, #98a2b3);
    border-color: var(--gray-3, #98a2b3);
    border-radius: 50%;
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}

.popover-body a {
    color: #121212;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.popover-body a:hover {
    color: var(--primary, #1c7c54);
}
/* end Navbar */

.kolom-kiri {
    display: flex;
    padding: 120px 40px 80px 80px;
    flex-direction: column;
    align-self: stretch;
    background: var(--white, #fff);
    height: 100vh;
}

p.title-about {
    color: var(--primary, #1c7c54);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.48px;
    text-transform: capitalize;
    margin-bottom: 32px;
}

p.desc-about {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.kolom-kanan {
    background-image: url("../ilustration/About.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.name {
    margin-bottom: 0;
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.8px;
    text-transform: capitalize;
    padding-top: 16px;
}

/* start Footer */
.footer {
    display: flex;
    padding: 56px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: var(--primary, #1c7c54);
}

.navigation-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.navigation-footer a {
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    text-decoration: none;
}

.line {
    width: 1280px;
    height: 1px;
    background: var(--white, #fff);
}

.copyright p {
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    margin-bottom: 0px;
}
/* end Footer */
