/* start font */
@font-face {
    font-family: "Inter";
    src: url("../font/Inter/static/Inter-Regular.ttf");
}
/* end font */

/* start Navbar */
.navbar {
    --bs-navbar-padding-y: 1rem;
}

.bg-light {
    background-color: white !important;
}

img.d-inline-block.align-text-top {
    width: 35px;
    height: auto;
}

span {
    font-family: "Inter";
    color: #121212;
    font-style: normal;
    font-weight: 600;
    vertical-align: middle;
}

a.nav-link.active {
    color: #1c7c54;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

a.nav-link {
    color: #121212;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

.nav {
    --bs-nav-link-hover-color: var(--primary, #1c7c54);
}

a.btn.btn-primary.sign-in {
    padding: 6px;
    width: 80px;
    border-radius: 10px;
    background: var(--primary, #1c7c54);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    border-color: var(--primary, #1c7c54);
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

a.btn.btn-outline-success.sign-up {
    margin-left: 16px;
    padding: 6px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid var(--primary, #1c7c54);
    background: var(--gray, #f2f4f7);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    color: var(--primary, #1c7c54);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

.profile button.btn.btn-secondary {
    width: 44px;
    height: 44px;
    background: var(--gray-3, #98a2b3);
    border-color: var(--gray-3, #98a2b3);
    border-radius: 50%;
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}

.popover-body a {
    color: #121212;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.popover-body a:hover {
    color: var(--primary, #1c7c54);
}
/* end Navbar */

body {
    background: var(--gray-2, #eaecf0);
}

/* start screenChat */
.screenChat.container {
    display: flex;
    width: 100%;
    height: 710px;
    margin-top: 56px;
    padding: 24px;
    border-radius: 16px;
    background: var(--gray, #f2f4f7);
    overflow: hidden;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 36px;
}

/* CSS untuk mengubah height menjadi auto jika lebih dari 710px */
.screenChat.container.auto-height {
    height: auto;
    overflow: visible; /* Menghilangkan overflow jika tinggi otomatis */
}
/* end screenChat */

/* start Logo */
.logo.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

p.greetings {
    color: var(--primary, #1c7c54);
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.8px;
    text-transform: capitalize;
    margin-bottom: 0;
}

span.title {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.8px;
    text-transform: capitalize;
    vertical-align: baseline;
}

p.sub-greetings {
    margin-bottom: 0;
    color: var(--gray-4, #344054);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}
/* end Logo */

/* start CTA */
.CTA {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

p.ctaText {
    margin-bottom: 0;
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}
/* end CTA */

/* start Recomendation */
.recomendationChat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.chat {
    display: flex;
    padding: 12px 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: var(--white, #fff);
}

p.textChat {
    margin-bottom: 0;
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}
/* end Recomendation */

/* start Textarea */
.input-group {
    width: 846px;
}

textarea.form-control {
    border-radius: 16px;
    border: 1px solid var(--gray-3, #98a2b3);
    background: var(--white, #fff);
    max-height: 200px;
    resize: none;
    color: var(--gray-4, #344054);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    border-right: 0 var(--white, #fff);
    height: 60px;
    padding-bottom: 0.975rem;
    padding-top: 0.975rem;
    margin-bottom: 0;
}

button.btn.btn-outline-secondary {
    border: none;
    padding: 0;
    --bs-btn-hover-bg: none;
}

span.input-group-text {
    border-radius: 16px;
    border: 1px solid var(--gray-3, #98a2b3);
    background: var(--white, #fff);
    border-left: 0 var(--white, #fff);
    margin-left: 0 !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--gray-3, #98a2b3);
}
/* end Textarea */

/* start Answer */
.account {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.profile {
    display: flex;
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    background: var(--gray-3, #98a2b3);
}

p.name {
    margin-bottom: 0;
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}

.chat {
    display: flex;
    padding: 12px 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 0px 16px 16px 16px;
    background: var(--white, #fff);
}

.chat p {
    margin-bottom: 0;
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

.recomendationChat {
    cursor: pointer;
}

.answer {
    width: 100%;
    align-items: flex-start;
    gap: 16px;
    display: none;
}

.answer-text p {
    margin-bottom: 0;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: capitalize;
    flex-grow: 1;
}
/* end Answer */
