/* start font */
@font-face {
    font-family: "Inter";
    src: url("../font/Inter/static/Inter-Regular.ttf");
}
/* end font */

/* start Navbar */
.navbar {
    --bs-navbar-padding-y: 1rem;
}

.navbar .container {
    padding: 0px;
}

.bg-light {
    background-color: white !important;
}

img.d-inline-block.align-text-top {
    width: 35px;
    height: auto;
}

span {
    font-family: "Inter";
    color: #121212;
    font-style: normal;
    font-weight: 600;
    vertical-align: middle;
}

a.nav-link.active {
    color: #1c7c54;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

a.nav-link {
    color: #121212;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

.nav {
    --bs-nav-link-hover-color: var(--primary, #1c7c54);
}

a.btn.btn-primary.sign-in {
    padding: 6px;
    width: 80px;
    border-radius: 10px;
    background: var(--primary, #1c7c54);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    border-color: var(--primary, #1c7c54);
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

a.btn.btn-outline-success.sign-up {
    margin-left: 16px;
    padding: 6px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid var(--primary, #1c7c54);
    background: var(--gray, #f2f4f7);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    color: var(--primary, #1c7c54);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

.profile button.btn.btn-secondary {
    width: 44px;
    height: 44px;
    background: var(--gray-3, #98a2b3);
    border-color: var(--gray-3, #98a2b3);
    border-radius: 50%;
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}

.popover-body a {
    color: #121212;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.popover-body a:hover {
    color: var(--primary, #1c7c54);
}
/* end Navbar */

/* start Breadcrumb */
ol.breadcrumb.container {
    margin-top: 16px;
    margin-bottom: 24px;
}

ol.breadcrumb.container a {
    text-decoration: none;
    color: var(--link, #175cd3);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}

.breadcrumb-item.active {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 14px;
}
/* end Breadcrumb */

/* start Article */
img.card-img-top {
    padding: 16px;
    height: 557px;
    border-radius: 24px;
}

.card-article.container {
    padding-left: 0px;
    padding-right: 0px;
}

.card.h-100 {
    border-radius: 10px;
    border: 1.6px solid var(--gray-2, #eaecf0);
    background: var(--white, #fff);
    margin-bottom: 24px;
}

.card-body {
    padding-top: 0px;
}

h5.card-title {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.48px;
    text-transform: capitalize;
}

.justify-content-center {
    justify-content: center !important;
    gap: 32px;
}

.card-text.d-flex.justify-content-center {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: capitalize;
    padding-bottom: 8px;
}

p.kiri-count {
    margin-bottom: 0;
    padding-right: 8px;
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
}

p.kanan-count {
    margin-bottom: 0;
    margin-left: 24px;
    padding-right: 8px;
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
}

.keterangan.d-flex.justify-content-center {
    color: var(--gray-4, #344054);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}

p.kiri-ket {
    margin: 0;
    color: var(--gray-4, #344054);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}

p.kanan-ket {
    margin: 0;
    color: var(--gray-4, #344054);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}

.follow {
    text-align: center;
}

.follow a.btn.btn-primary {
    padding: 10px 14px;
    width: 224px;
    border-radius: 10px;
    border-color: var(--primary, #1c7c54);
    background: var(--primary, #1c7c54);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
    margin-right: 16px;
}
/* end Article */

/* start Other */
.other {
    cursor: pointer;
}
/* start Other */

/* start Pertanyaan */
.pertanyaan {
    padding: 24px 16px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-radius: 16px;
    border: 1px solid var(--gray-3, #98a2b3);
    background: var(--white, #fff);
    margin-bottom: 24px;
}

.pertanyaan p {
    margin: 0;
    color: var(--gray-4, #344054);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

.pertanyaan svg {
    cursor: pointer;
}
/* end Pertanyaan */

/* start Post */
.post.container {
    display: flex;
    /* width: 1280px; */
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid var(--gray-3, #98a2b3);
    background: var(--white, #fff);
}

.head-admin {
    display: flex;
    padding: 0px 8px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.profile-head {
    display: flex;
    align-items: center;
    gap: 16px;
}

.desc-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

p.name {
    margin: 0;
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
}

p.ket {
    margin: 0;
    color: var(--gray-3, #98a2b3);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
}

.action {
    display: flex;
    padding: 4px;
    align-items: center;
    gap: 24px;
}

.view.d-flex {
    gap: 7px;
}

.view p {
    margin: 0;
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
}

svg.more {
    cursor: pointer;
}

p.title-body {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.48px;
    text-transform: capitalize;
}

.body-content p {
    margin: 0;
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

li {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.comment {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.profile-comment {
    display: flex;
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    background: var(--gray-3, #98a2b3);
}

.profile-comment p {
    margin: 0;
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}

.textarea-comment {
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 16px;
    border: 1px solid var(--gray-2, #eaecf0);
    background: var(--white, #fff);
}

.action-comment {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-bottom: 1px solid var(--gray-2, #eaecf0);
}

.textArea.me-auto {
    width: 100%;
}

textarea#exampleFormControlTextarea1 {
    height: 117px;
    border: none;
    resize: none;
}

.form-control:focus {
    box-shadow: none;
}

.tombol-comment a.btn.btn-success {
    display: flex;
    width: 180px;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: var(--primary, #1c7c54);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}
/* end Post */

/* start Footer */
.footer {
    display: flex;
    padding: 56px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: var(--primary, #1c7c54);
}

.navigation-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.navigation-footer a {
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    text-decoration: none;
}

.line {
    width: 1280px;
    height: 1px;
    background: var(--white, #fff);
}

.copyright p {
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    margin-bottom: 0px;
}
/* end Footer */
