@font-face {
    font-family: "Inter";
    src: url("../font/Inter/static/Inter-Regular.ttf");
}
/* end font */

/* start Navbar */
.navbar {
    --bs-navbar-padding-y: 1rem;
}

.navbar .container {
    padding: 0px;
}

.bg-light {
    background-color: white !important;
}

img.d-inline-block.align-text-top {
    width: 35px;
    height: auto;
}

span {
    font-family: "Inter";
    color: #121212;
    font-style: normal;
    font-weight: 600;
    vertical-align: middle;
}

a.nav-link.active {
    color: #1c7c54;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

a.nav-link {
    color: #121212;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

.nav {
    --bs-nav-link-hover-color: var(--primary, #1c7c54);
}

a.btn.btn-primary.sign-in {
    padding: 6px;
    width: 80px;
    border-radius: 10px;
    background: var(--primary, #1c7c54);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    border-color: var(--primary, #1c7c54);
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

a.btn.btn-outline-success.sign-up {
    margin-left: 16px;
    padding: 6px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid var(--primary, #1c7c54);
    background: var(--gray, #f2f4f7);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    color: var(--primary, #1c7c54);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

.profile button.btn.btn-secondary {
    width: 44px;
    height: 44px;
    background: var(--gray-3, #98a2b3);
    border-color: var(--gray-3, #98a2b3);
    border-radius: 50%;
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}

.popover-body a {
    color: #121212;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.popover-body a:hover {
    color: var(--primary, #1c7c54);
}
/* end Navbar */

/* start Breadcrumb */
ol.breadcrumb.container {
    margin-top: 28px;
    margin-bottom: 28px;
}

ol.breadcrumb.container a {
    text-decoration: none;
    color: var(--link, #175cd3);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}

.breadcrumb-item.active {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 14px;
}
/* end Breadcrumb */

/* start Tentang */
.tentangDoc.container {
    padding-left: 0;
    padding-right: 0;
}

.detailDoctor {
    display: flex;
    padding: 40px 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    background: var(--Gray-50, #f9fafb);
    margin-bottom: 46px;
}

.tentangDoc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.profileDoc {
    display: flex;
    width: 628px;
    align-items: center;
    gap: 16px;
}

img.profileImg {
    width: 160px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 100px;
    object-fit: cover;
}

.profileKet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

p.profileName {
    margin: 0;
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.48px;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.profesi.d-flex.align-items-center {
    gap: 4px;
}

p.desc {
    margin: 0;
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: capitalize;
}

.rs.d-flex.align-items-center {
    gap: 4px;
}

.biaya {
    display: flex;
    width: 305px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

.consulCost {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

p.costDesc {
    margin: 0;
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}

.descDoc {
    display: flex;
    width: 629px;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 24px;
    background: rgba(23, 92, 211, 0.12);
}

.descDoc-title p {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
    margin: 0;
}

.descDoc-desc p {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}
/* end Tentang */

/* start CV */
.cv {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    padding: 0;
}

.pendidikan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

p.pendidikanTitle {
    margin: 0;
    color: var(--primary, #1c7c54);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.48px;
}

.univ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

p.universitas {
    margin: 0;
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
}

p.prodi {
    margin: 0;
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}

.pengalaman {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

p.pengalamanTitle {
    margin: 0;
    color: var(--primary, #1c7c54);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.48px;
}

.keanggotaan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

p.KeanggotaanTitle {
    margin: 0;
    color: var(--primary, #1c7c54);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.48px;
}

p.keanggotaanDesc {
    margin: 0;
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
}
/* end CV */

.pesanan.container.d-flex {
    gap: 60px;
}

/* start Jadwal */
.jadwal {
    display: flex;
    width: 747px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 24px;
    background: var(--Gray-100, #f2f4f7);
}

.aturJadwal {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: stretch;
}

p.aturJadwal-title.text-center {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.48px;
}
/* end Jadwal */

/* start pilihTanggal */
.pilihTanggal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.pilihTanggal label.form-label {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
}

input#tanggal {
    width: 322px;
    padding: 16px;
    width: 422px;
    border-radius: 10px;
    background: var(--Gray-200, #eaecf0);
    color: var(--Gray-300, #98a2b3);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
}

.form-control:focus {
    color: var(--Gray-300, #98a2b3);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    border: none;
    box-shadow: none;
}
/* start pilihTanggal */

/* start Sesi */
.pilihSesi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.pilihSesi p {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
}

.jamSesi {
    display: flex;
    gap: 8px;
}

label.btn.btn-primary {
    padding: 8px;
    width: 106px;
    border-radius: 8px;
    border: 1px solid var(--Gray-200, #eaecf0);
    background: var(--white, #fff);
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
    background: var(--Gray-200, #eaecf0);
    border: 1px solid var(--Gray-200, #eaecf0);
    color: #000;
}

label.btn.btn-primary:hover {
    /* --bs-btn-hover-border-color: #0a58ca; */
    background: var(--Gray-200, #eaecf0);
    border: 1px solid var(--Gray-200, #eaecf0);
    color: #000;
}

.tombolPesan a.btn.btn-success {
    width: 355px;
    padding: 14px;
    border-radius: 10px;
    background: var(--primary, #1c7c54);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}
/* end Sesi */

/* start Jam */
.jamReg {
    display: flex;
    width: 373px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 24px;
    background: var(--Gray-50, #f9fafb);
}

.jamReg-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

p.text-title {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.48px;
}

.hariTanggalCon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.hariTanggal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

p.hari {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
}

p.jam {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
}
/* end Jam */

/* start Footer */
.footer {
    display: flex;
    padding: 56px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: var(--primary, #1c7c54);
}

.navigation-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.navigation-footer a {
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    text-decoration: none;
}

.line {
    width: 1280px;
    height: 1px;
    background: var(--white, #fff);
}

.copyright p {
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    margin-bottom: 0px;
}
/* end Footer */
