/* start font */
@font-face {
    font-family: "Inter";
    src: url("../font/Inter/static/Inter-Regular.ttf");
}
/* end font */

/* start Navbar */
.navbar {
    --bs-navbar-padding-y: 1rem;
}

.bg-light {
    background-color: white !important;
}

img.d-inline-block.align-text-top {
    width: 35px;
    height: auto;
}

span {
    font-family: "Inter";
    color: #121212;
    font-style: normal;
    font-weight: 600;
    vertical-align: middle;
}

a.nav-link.active {
    color: #1c7c54;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

a.nav-link {
    color: #121212;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

.nav {
    --bs-nav-link-hover-color: var(--primary, #1c7c54);
}

a.btn.btn-primary.sign-in {
    padding: 6px;
    width: 80px;
    border-radius: 10px;
    background: var(--primary, #1c7c54);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    border-color: var(--primary, #1c7c54);
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

a.btn.btn-outline-success.sign-up {
    margin-left: 16px;
    padding: 6px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid var(--primary, #1c7c54);
    background: var(--gray, #f2f4f7);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    color: var(--primary, #1c7c54);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

.profile button.btn.btn-secondary {
    width: 44px;
    height: 44px;
    background: var(--gray-3, #98a2b3);
    border-color: var(--gray-3, #98a2b3);
    border-radius: 50%;
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}

.popover-body a {
    color: #121212;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.popover-body a:hover {
    color: var(--primary, #1c7c54);
}
/* end Navbar */

/* start Hero */
.hero {
    background-color: #ffffff;
    /* background-color: black; */
    height: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elips1 {
    width: 451px;
    height: 451px;
    position: absolute;
    left: -210px;
    top: 58px;
    border-radius: 451px;
    opacity: 0.3;
    background: #7beb20;
    filter: blur(100px);
}

.elips2 {
    width: 280px;
    height: 280px;
    position: absolute;
    right: 35px;
    bottom: 70px;
    border-radius: 280px;
    opacity: 0.4;
    background: #7beb20;
    filter: blur(100px);
}

.ornamen {
    width: 0px;
    height: 0px;
    position: absolute;
    right: 270px;
    top: 75px;
}

.headline {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.hero h1 {
    color: #121212;
    text-transform: capitalize;
    font-size: 56px;
    font-weight: 600;
    font-family: "Inter";
    padding-bottom: 14px;
}

.hero p {
    color: #121212;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.48px;
    text-transform: capitalize;
}

.button {
    padding-top: 26px;
}

button.btn.btn-success {
    margin-right: 24px;
    margin-right: 24px;
    background-color: #1c7c54;
    border-color: #1c7c54;
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    color: var(--white, #fff);
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    width: 180px;
    padding: 10px 16px;
}

button.btn.btn-outline-secondary {
    border: 1px solid var(--primary, #1c7c54);
    background: var(--gray, #f2f4f7);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    color: var(--primary, #1c7c54);
    font-family: Inter;
    font-weight: 500;
    width: 180px;
    padding: 10px 16px;
}
/* end Hero */

/* start BMI */
.bmi {
    display: flex;
    padding: 56px 80px;
    flex-direction: column;
    align-items: center;
    background: #c9f5a7;
}

h1.title-bmi {
    color: var(--black, #121212);
    text-align: center;
    /* heading 2 */
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 120% */
    letter-spacing: -0.8px;
    text-transform: capitalize;
    padding-bottom: 16px;
}

p.description {
    width: 749px;
    color: var(--black, #121212);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
    text-transform: capitalize;
    padding-bottom: 32px;
}

label.form-label {
    color: var(--black, #121212);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.input-group {
    flex-direction: row-reverse;
}

.input-group
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
        .valid-feedback
    ):not(.invalid-tooltip):not(.invalid-feedback) {
    background: var(--white, #fff);
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: #fff;
    height: 44px;
}

.input-group-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: white;
    border: #fff;
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    height: 44px;
}

.input-group-text {
    color: var(--black, #121212);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.28px;
    text-transform: capitalize;
}

button.btn.btn-success.calculate {
    margin-top: 32px;
    margin-right: 0;
    display: flex;
    width: 160px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: var(--primary, #1c7c54);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
}

.form-control:focus {
    box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* end BMI */

/* start Fitur */
.fitur {
    display: flex;
    padding: 56px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: var(--white, #fff);
}

h1.title-fitur {
    color: var(--black, #121212);
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.8px;
    text-transform: capitalize;
    width: 741px;
}

.row.align-items-start {
    gap: 48px;
}

.col-icon {
    text-align: -webkit-center;
}

.icon svg {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.icon {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--primary, #1c7c54);
}

.title-icon h3 {
    padding-top: 16px;
    color: var(--black, #121212);
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.48px;
    text-transform: capitalize;
    padding-bottom: 8px;
}

.description-icon p {
    width: 212px;
    color: var(--black, #121212);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: capitalize;
}
/* end Fitur */

/* start Menu */
.menu {
    display: flex;
    padding: 56px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.col-md-6 {
    align-self: center;
}

p.title-menu1 {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.8px;
    text-transform: capitalize;
}

p.description-menu1 {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: capitalize;
}

.row.menu-1 {
    gap: 109px;
    justify-content: center;
}

.elips3 {
    width: 280px;
    height: 280px;
    position: absolute;
    left: -104px;
    bottom: 23px;
    top: 1580px;
    border-radius: 280px;
    opacity: 0.4;
    background: #7beb20;
    filter: blur(100px);
}

.ilustration img {
    min-width: -webkit-fill-available;
}

p.title-menu2 {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.8px;
    text-transform: capitalize;
}

p.description-menu2 {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: capitalize;
}

.row.menu-2 {
    gap: 109px;
    justify-content: center;
}

.elips4 {
    width: 251px;
    height: 251px;
    position: absolute;
    right: 1px;
    bottom: -107px;
    top: 2030px;
    border-radius: 451px;
    opacity: 0.3;
    background: #7beb20;
    filter: blur(100px);
    overflow-y: hidden;
}

p.title-menu3 {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.8px;
    text-transform: capitalize;
}

p.description-menu3 {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: capitalize;
}

.row.menu-3 {
    gap: 109px;
    justify-content: center;
}

.elips5 {
    width: 280px;
    height: 280px;
    position: absolute;
    left: -158px;
    bottom: -50px;
    top: 2430px;
    border-radius: 280px;
    opacity: 0.4;
    background: #7beb20;
    filter: blur(100px);
}
/* end Menu */

/* start Testimoni */
.testimoni {
    padding: 56px 80px;
    gap: 32px;
}

p.title-testimoni.text-center {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.8px;
    text-transform: capitalize;
    padding-bottom: 32px;
}

.profile-img {
    width: 48px;
    height: 48px;
    border-radius: 48px;
}

.card-title {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

.card-subtitle {
    color: var(--warn, #f04438);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    text-transform: capitalize;
}

.d-flex.flex-column.ms-2 {
    margin-bottom: 20px;
    margin-top: -46px;
    padding-left: 50px;
}

p.card-text {
    align-self: stretch;
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: capitalize;
}

.testimoni-body {
    padding: 24px 16px;
}

.card.h-100 {
    border-radius: 16px;
    background: var(--gray, #f2f4f7);
    border: none;
}
/* end Testimoni */

/* start FAQ */
.faq {
    display: flex;
    padding: 56px 80px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background: var(--gray-2, #eaecf0);
}

.title-faq p {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.8px;
    text-transform: capitalize;
}

.accordion1 {
    display: flex;
    flex-direction: column; /* Mengubah orientasi flex menjadi column */
    padding: 12px 18px;
    align-self: stretch;
    border-radius: 24px;
    background: var(--white, #fff);
}

.accordion1 {
    display: flex;
    flex-direction: column; /* Mengubah orientasi flex menjadi column */
    padding: 12px 18px;
    align-self: stretch;
    border-radius: 24px;
    background: var(--white, #fff);
}

.accordion-header {
    display: flex;
    justify-content: space-between; /* Menjaga jarak antara elemen anak */
    align-items: center; /* Menyamakan posisi secara vertikal */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px); /* Initial position with a slight bounce */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Final position */
    }
}

.answer,
.line-faq {
    opacity: 0;
    animation: fadeIn 300ms forwards;
}

.ease-in-out-back {
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.accordion1 p {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.48px;
    text-transform: capitalize;
    margin-top: 14px;
}

.accordion-icon svg {
    width: 30px;
    height: 30px;
    cursor: pointer; /* Menambahkan cursor pointer untuk menandakan dapat diklik */
}

.answer {
    padding-left: 0px;
}

.line-faq {
    height: 2px;
    background: #d0d5dd;
    margin-top: 16px;
    margin-bottom: 16px;
}

.answer p {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: capitalize;
}

.hidden {
    display: none;
}

/* Your existing styles */

#accordion-link .active-svg {
    display: block;
}

#accordion-link .initial-svg {
    display: block;
}

#accordion-link .initial-svg {
    display: none;
}

/* end FAQ */

/* start Footer */
.footer {
    display: flex;
    padding: 56px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: var(--primary, #1c7c54);
}

.navigation-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.navigation-footer a {
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    text-decoration: none;
}

.line {
    width: 1280px;
    height: 1px;
    background: var(--white, #fff);
}

.copyright p {
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    margin-bottom: 0px;
}
/* end Footer */
