/* start font */
@font-face {
    font-family: "Inter";
    src: url("../font/Inter/static/Inter-Regular.ttf");
}
/* end font */

.kolom-kiri {
    display: flex;
    padding: 80px;
    flex-direction: column;
    align-self: stretch;
    background: var(--white, #fff);
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.logo img.d-inline-block.align-text-top {
    vertical-align: -webkit-baseline-middle;
    width: 35px;
    height: auto;
}

span.edu {
    vertical-align: -webkit-baseline-middle;
    color: #131313;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    text-transform: capitalize;
    padding-left: 5px;
}

.buttons {
    display: flex;
    align-items: center; /* Menengahkan elemen vertikal */
}

.back a.btn.btn-primary {
    color: var(--primary, #1c7c54);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
    width: 160px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid var(--primary, #1c7c54);
    background: var(--gray, #f2f4f7);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
}

.sig-in {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 120% */
    letter-spacing: -0.8px;
    text-transform: capitalize;
    padding-top: 90px;
    margin-bottom: 0px;
    padding-bottom: 32px;
}

.form label.form-label {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

span.bintang {
    color: #f04438;
}

.form input.form-control {
    border-radius: 10px;
    background: var(--gray-2, #eaecf0);
    padding: 14px;
    border-color: var(--gray-2, #eaecf0);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
    text-transform: none;
}

.lowercase {
    text-transform: lowercase;
}

.alert-danger {
    margin-top: 16px;
}

.form .mb-3 {
    margin-bottom: 16px !important;
}

.tombol_sign-in {
    padding-top: 16px;
}

.tombol_sign-in button.btn.btn-primary {
    width: 100%;
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
    padding: 14px;
    border-radius: 10px;
    background: var(--primary, #1c7c54);
    box-shadow: 0px 6px 4px 0px rgba(19, 63, 45, 0.12);
    border-color: var(--primary, #1c7c54);
    margin-bottom: 24px;
}

.account p {
    color: var(--gray-3, #98a2b3);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: capitalize;
    text-align: center;
}

a.biru {
    color: var(--link, #175cd3);
    text-decoration: none;
}

.form-control:focus {
    box-shadow: none;
}

.kolom-kanan {
    background-image: url("../ilustration/Login.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
